---
import { Image } from 'astro:assets';
import src from '../assets/hero-espargats-calendario.webp';
---

<section
  class="grid max-w-screen-xl py-8 mx-auto gap-4 lg:py-16 grid-cols-2 md:grid-cols-3"
>
  <Image
    src={src}
    class="rounded-lg object-cover max-w-full h-auto aspect-[4/3]"
    alt=""
  />
  <Image
    src={src}
    class="rounded-lg object-cover max-w-full h-auto aspect-[4/3]"
    alt=""
  />
  <Image
    src={src}
    class="rounded-lg object-cover max-w-full h-auto aspect-[4/3]"
    alt=""
  />
  <Image
    src={src}
    class="rounded-lg object-cover max-w-full h-auto aspect-[4/3]"
    alt=""
  />
  <Image
    src={src}
    class="rounded-lg object-cover max-w-full h-auto aspect-[4/3]"
    alt=""
  />
  <Image
    src={src}
    class="rounded-lg object-cover max-w-full h-auto aspect-[4/3]"
    alt=""
  />
</section>
