---
import type { Sponsor } from '../data/sponsors';
interface Props {
  sponsors: Sponsor[];
  direction: 'left' | 'right';
}
const { sponsors, direction } = Astro.props;
console.log(sponsors.length, 'length');
---

<div id="logos" class="overflow-hidden flex flex-nowrap relative h-40">
  <span
    class="absolute top-0 left-0 h-full w-8 tablet:w-16 bg-gradient-to-r from-white to-transparent z-10"
  ></span>
  <div
    class="flex items-center justify-center py-2"
    class:list={direction === 'right'
      ? 'logos-slider-to-right'
      : 'logos-slider'}
  >
    {
      sponsors.map((sponsor) => {
        if (!sponsor.url)
          return (
            <div class="inline-block  hover:scale-105 transition-transform duration-150 w-48 px-6">
              <img
                src={sponsor.logo}
                alt={sponsor.name}
                class="w-full"
                title={sponsor.name}
              />
            </div>
          );
        return (
          <a
            href={sponsor.url}
            class="inline-block  hover:scale-105 transition-transform duration-150 w-48 px-6"
            target="_blank"
            rel="noopener noreferrer"
            title={sponsor.name}
          >
            <img
              src={sponsor.logo}
              alt={sponsor.name}
              class="w-full object-contain"
              title={sponsor.name}
            />
          </a>
        );
      })
    }
  </div>
  <div
    class="flex items-center justify-center py-2"
    class:list={direction === 'right'
      ? 'logos-slider-to-right'
      : 'logos-slider'}
  >
    {
      sponsors.map((sponsor) => {
        if (!sponsor.url)
          return (
            <div class="inline-block  hover:scale-105 transition-transform duration-150 w-48 px-6">
              <img
                src={sponsor.logo}
                alt={sponsor.name}
                class="w-full"
                title={sponsor.name}
              />
            </div>
          );
        return (
          <a
            href={sponsor.url}
            class="inline-block  hover:scale-105 transition-transform duration-150 w-48 px-6"
            target="_blank"
            rel="noopener noreferrer"
            title={sponsor.name}
          >
            <img
              src={sponsor.logo}
              alt={sponsor.name}
              class="w-full object-contain"
              title={sponsor.name}
            />
          </a>
        );
      })
    }
  </div>
  <span
    class="absolute top-0 right-0 h-full w-8 tablet:w-16 bg-gradient-to-l from-white to-transparent z-10"
  ></span>
</div>

<style>
  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  @keyframes slide-to-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .logos-slider {
    animation: slide 45s linear infinite;
  }
  .logos-slider-to-right {
    animation: slide-to-right 45s linear infinite;
  }
  #logos:hover .logos-slider,
  #logos:hover .logos-slider-to-right {
    animation-play-state: paused;
  }
</style>
